@font-face {
  font-family: "digital-clock-font";
  src: url("./digital-7.ttf");
}
.calculator {
  background-color: #4f4f51;
  justify-content: center;
  display: flex;
  width: 300px;
  height: 500px;
  border-radius: 10px 10px 20px 20px;
}
.calculator__inner {
  background-color: #4f4f51;
  border-left: 3px solid #171617;
  border-bottom: 3px solid #171617;
  border-right: 3px solid #171617;
  width: 270px;
  height: 485px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.521);
  display: flex;
  flex-direction: column;
}

*:focus {
  outline: none;
}

.inner__scanner {
  margin-top: 23px;
  margin-left: 135px;
  margin-bottom: 20px;
  width: 112px;
  height: 32px;
  border-radius: 4px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.521);
  padding: 4px;
  display: flex;
}
.inner__outputWindow {
  width: 260px;
  height: 85px;
  align-self: center;
  border-radius: 18px;
  margin-bottom: 20px;
  box-shadow: inset 0 4px 9px rgba(0, 0, 0, 0.521);
}
.inner__button-grid {
  height: 265px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 9px;
  padding: 20px 10px 10px 10px;
  border-top: 3px solid #171617;
  height: 295px;
}

.scanner__square {
  border: 1px solid #3b3429;
  background-color: #362f24;
  height: 30px;
  width: 25%;
}
.scanner__square--left {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.scanner__square--right {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.outputWindow__inner {
  background-color: #b9bdb6;
  margin: 9px;
  width: 242px;
  height: 67px;
  border-radius: 9px;
  font-family: "digital-clock-font";
  text-align: right;
  font-size: 55px;
}

.button-grid__button {
  border: 2px solid #171617;
  border-radius: 2px 2px 5px 5px;
  color: white;
  background-color: #2a2929;
  font-size: 30px;
  height: 42px;
  width: 55px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.521);
}
.button-grid__button--small-font {
  font-size: 20px;
}
.button-grid__button--small-size {
  height: 32px;
}
.button-grid__button--big-size {
  height: 90px;
  width: 55px;
}
.button-grid__button--orange {
  background-color: #e4a029;
}
.button-grid__button:active {
  background-color: #1f1e1e;
  box-shadow: none;
}
.button-grid__pair {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 3px;
  width: 55px;
}

.pair__button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55px;
  border: 2px solid #171617;
  border-radius: 2px 2px 5px 5px;
  color: white;
  background-color: #2a2929;
  font-size: 30px;
  height: 42px;
  width: 55px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.521);
}
.pair__button:active {
  background-color: #1f1e1e;
  box-shadow: none;
}
